---
import BaseLayout from './BaseLayout.astro';
import Header from '@components/shared/Header.astro';
import Footer from '@components/shared/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div id="top"></div>
  <Header variant="landing" />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
